<p id="notice"><%= notice %></p>

<p>
  <b>OBD-Fehlercode:</b>
  <%= @error.obd_id %>
</p>

<p>
  <b>Fehlerbeschreibung:</b>
  <%= @error.obd_content %>
</p>

<p>
  <b>Marke:</b>
  <%= @error.brand_id %>
</p>

<p>
  <b>Modell:</b>
  <%= @error.model_id %>
</p>

<p>
  <b>Baujahr:</b>
  <%= @error.construction_year %>
</p>


<%= link_to 'Edit', edit_error_path(@error) %> |
<%= link_to 'Back', errors_path %>
